In [1]:
import json
import pandas as pd
import numpy as np
from urllib.request import urlopen
import collections
import requests
import pymongo
from pymongo import MongoClient

In [3]:
url="https://api.fda.gov/drug/event.json?api_key=ERMRbxTchMkRnHapeAM1Q0qVlXnNUXTIbFUE7948&limit=300"

In [15]:
json_data=requests.get(url).json()

In [16]:
mymongo=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [17]:
DrugEvents=mymongo["mydatabase"]

In [18]:
Drugs_Events_Cluster=DrugEvents["DrugsEvent"]

In [129]:
import requests
import time
for skip_records in range(0,50000, 1000):
    url = 'https://api.fda.gov/drug/event.json?api_key=ERMRbxTchMkRnHapeAM1Q0qVlXnNUXTIbFUE7948&limit=1000'.format(skip_records)
    response = requests.get(url)
    json_to_dump = response.json()['results']
    Drugs_Events_Cluster.insert_many(json_to_dump)

In [19]:
df=pd.DataFrame(Drugs_Events_Cluster.find())

In [9]:
df.columns

Index(['_id', 'receiptdateformat', 'receiver', 'seriousnessdeath',
       'companynumb', 'receivedateformat', 'primarysource',
       'transmissiondateformat', 'fulfillexpeditecriteria', 'safetyreportid',
       'sender', 'receivedate', 'patient', 'transmissiondate', 'serious',
       'receiptdate', 'reporttype', 'safetyreportversion', 'duplicate',
       'reportduplicate', 'primarysourcecountry', 'seriousnessdisabling',
       'seriousnessother', 'occurcountry', 'seriousnesshospitalization',
       'seriousnesslifethreatening', 'seriousnesscongenitalanomali'],
      dtype='object')

# Retrieving the common columns which are present in all records

In [37]:
country=[]
qualification=[]
companynumb=[]
safety_report_id=[]
serious=[]

for i in range(0,len(df)):
    country.append(df.iloc[i]["primarysource"]["reportercountry"])
    companynumb.append(df.iloc[i]["companynumb"])
    safety_report_id.append(df.iloc[i]["safetyreportid"])
    serious.append(df.iloc[i]["serious"])

# Retrieving the necessary columns and placing "none" for the records which doesn't have the respective column

In [21]:
qualification=[]

for i in range(0,len(df)):
    if "qualification" in df.iloc[i]["primarysource"]:
        qualification.append(df.iloc[i]["primarysource"]["qualification"])
    else:
        qualification.append("nan")

In [22]:
report_type=[]

for i in range(0,len(df)):
    if "reporttype" in df.iloc[i]:
        report_type.append(df.iloc[i]["reporttype"])
    else:
        report_type.append("nan")

In [23]:
seriousness_disabling=[]

for i in range(0,len(df)):
    if "seriousnessdisabling" in df.iloc[i]:
        seriousness_disabling.append(df.iloc[i]["seriousnessdisabling"])
    else:
        seriousness_disabling.append("nan")

In [24]:
seriousness_other=[]

for i in range(0,len(df)):
    if "seriousnessother" in df.iloc[i]:
        seriousness_other.append(df.iloc[i]["seriousnessother"])
    else:
        seriousness_other.append("nan")

In [25]:
seriousness_hospitalization=[]

for i in range(0,len(df)):
    if "seriousnesshospitalization" in df.iloc[i]:
        seriousness_hospitalization.append(df.iloc[i]["seriousnesshospitalization"])
    else:
        seriousness_hospitalization.append("nan")

In [26]:
seriousness_lifethreatening=[]

for i in range(0,len(df)):
    if "seriousnesslifethreatening" in df.iloc[i]:
        seriousness_lifethreatening.append(df.iloc[i]["seriousnesslifethreatening"])
    else:
        seriousness_lifethreatening.append("nan")

In [27]:
seriousness_congenitalanomali=[]

for i in range(0,len(df)):
    if "seriousnesscongenitalanomali" in df.iloc[i]:
        seriousness_congenitalanomali.append(df.iloc[i]["seriousnesscongenitalanomali"])
    else:
        seriousness_congenitalanomali.append("nan")

In [28]:
patient_age=[]

for i in range(0,len(df)):
    
    if "patientonsetage" in df.iloc[i]["patient"]:
        patient_age.append(df.iloc[i]["patient"]["patientonsetage"])
    else:
        patient_age.append("nan")

In [29]:
patient_sex=[]

for i in range(0,len(df)):
    
    if "patientsex" in df.iloc[i]["patient"]:
        patient_sex.append(df.iloc[i]["patient"]["patientsex"])
    else:
        patient_sex.append("nan")

In [280]:
# # app
application_number=[]
safety_id=[]
# if "drug" in df.iloc[2]["patient"]:
# #     if "openfda" in df.iloc[2]["patient"]["drug"]:
#         generic.append(df.iloc[2]["patient"]["drug"]["medicinalproduct"])
# else:
#     generic.append("nan")

for i in range(0,len(df)):
    
    for j in range(0,len(df.iloc[i]["patient"]["drug"])):
        
        if "openfda" in df.iloc[i]["patient"]["drug"][j]:

            for k in df.iloc[i]["patient"]["drug"][j]["openfda"]:
                
                if k =="application_number":
                    safety_id.append(safety_report_id[i])
                    application_number.append(df.iloc[i]["patient"]["drug"][j]["openfda"][k])

In [251]:
print(len(safety_id))
len(application_number)

110708

110708

In [286]:
brand_name=[]
safety_brand_id=[]
for i in range(0,len(df)):
    
    for j in range(0,len(df.iloc[i]["patient"]["drug"])):
        
        if "openfda" in df.iloc[i]["patient"]["drug"][j]:

            for k in df.iloc[i]["patient"]["drug"][j]["openfda"]:
#                 safety_id.append(safety_report_id[i])
                if k =="brand_name":
                    safety_brand_id.append(safety_report_id[i])
                    brand_name.append(df.iloc[i]["patient"]["drug"][j]["openfda"][k])

In [289]:
len(safety_brand_id)
len(brand_name)

112558

# Dealing with Missing Values in patient_age column by replacing the median age

In [23]:
# print(type(patient_age[0]))
count=0
for i in range(0, len(patient_age)):
    if patient_age[i].isnumeric():
        count+=1
    else:
        pass
    
# avg_age=round(age_sum/len(patient_age))
# print(avg_age)

median_position=int(count/2)
median=patient_age[median_position]

In [24]:
for i in range(0, len(patient_age)):
    if patient_age[i] == "nan":
        
        patient_age[i]=median
    else:
        pass

# Retrieving each drugs and thier combined reactions of each patient

In [41]:
drug=[]
reactions=[]
safety_drug_id=[]
safety_reaction_id=[]
for i in range(0,len(df)):
    
    for j in range(0,len(df.iloc[i]["patient"]["drug"])):
        
        safety_drug_id.append(safety_report_id[i])
        drug.append(df.iloc[i]["patient"]["drug"][j]["medicinalproduct"]) 
        
      
    for k in range(0,len(df.iloc[i]["patient"]["reaction"])):
        
        safety_reaction_id.append(safety_report_id[i])
        reactions.append(df.iloc[i]["patient"]["reaction"][k]["reactionmeddrapt"])

In [225]:
df1['receiptdate'] = pd.to_datetime(df['receiptdate'])

In [227]:
time_period = df1['receiptdate'].dt.strftime('%Y-%m')

# Creating a dataframe with all necessary data fields after being processed

In [233]:
df1=pd.DataFrame(safety_report_id, columns=["safety_report_id"])
df1["country"]=country
df1["report_type"]=report_type
df1["qualification"]=qualification
df1["companynumb"]=companynumb
df1["patient_age"]=patient_age
df1["patient_sex"]=patient_sex
df1["serious"]=serious
df1["seriousness_disabling"]=seriousness_disabling
df1["seriousness_other"]=seriousness_other
df1["seriousness_hospitalization"]=seriousness_hospitalization
df1["seriousness_lifethreatening"]=seriousness_lifethreatening
df1["seriousness_congenitalanomali"]=seriousness_congenitalanomali
df1["time_period"]=time_period
df1["receipt_date"]=df["receiptdate"]

In [105]:
# df1["companynumb"].isnull().sum()
df1["country"].value_counts()
# df1["report_type"].where("")
df1["report_type"].unique()

array([nan, '1', '2', '4', '3'], dtype=object)

In [235]:
df1.to_csv("Drug_Event")
df1

,safety_report_id,country,report_type,qualification,companynumb,patient_age,patient_sex,serious,seriousness_disabling,seriousness_other,seriousness_hospitalization,seriousness_lifethreatening,seriousness_congenitalanomali,time_period,receipt_date
0,5801206-7,CANADA,NaN,3,JACAN16471,26,1,1,NaN,NaN,NaN,NaN,NaN,2008-06,20080625
1,10003300,US,1,5,1289378,77,2,1,1,NaN,NaN,NaN,NaN,2014-03,20140306
2,10003301,US,1,5,US-JNJFOC-20130719067,77,2,1,NaN,1,NaN,NaN,NaN,2014-02,20140228
3,10003302,US,1,5,US-PFIZER INC-2014068976,77,1,2,NaN,NaN,NaN,NaN,NaN,2014-03,20140312
4,10003304,US,1,1,US-PFIZER INC-2014063856,77,2,2,NaN,NaN,NaN,NaN,NaN,2014-04,20140424
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49997,10004303,US,1,3,US-PFIZER INC-2014071412,77,0,2,NaN,NaN,NaN,NaN,NaN,2014-03,20140312
49998,10004304,COUNTRY NOT SPECIFIED,2,5,PHEH2014US004849,63,2,1,NaN,1,NaN,NaN,NaN,2014-03,20140312
49999,10004305,US,1,1,US-GILEAD-2012-0060522,42,2,2,NaN,NaN,NaN,NaN,NaN,2015-08,20150812
50000,10003860,US,1,5,US-BAYER-2014-035493,25,2,1,NaN,NaN,1,NaN,NaN,2015-03,20150331
50001,10003860,US,1,5,US-BAYER-2014-035493,25,2,1,NaN,NaN,1,NaN,NaN,2015-03,20150331

In [278]:
df1[df1["companynumb"].str.contains("fagron")]

Empty DataFrame
Columns: [safety_report_id, country, report_type, qualification, companynumb, patient_age, patient_sex, serious, seriousness_disabling, seriousness_other, seriousness_hospitalization, seriousness_lifethreatening, seriousness_congenitalanomali, time_period, receipt_date]
Index: []

# Creating a new dataframe for the drugs and mapping it to "safety_id", since a patient can report more than one drug

In [273]:
df2=pd.DataFrame(safety_drug_id,columns=["safety_drug_id"])
df2["drug"]=drug
df2

       safety_drug_id                 drug
0           5801206-7        DURAGESIC-100
1            10003300               BONIVA
2            10003301            IBUPROFEN
3            10003302               LYRICA
4            10003304  DOXYCYCLINE HYCLATE
...               ...                  ...
153607       10003860                  YAZ
153608       10003860               REOPRO
153609       10003860              ACIPHEX
153610       10003860              TOPAMAX
153611       10003860               YASMIN

[153612 rows x 2 columns]

# Creating a new dataframe for reactions which is combined reaction of the drug used by a user

In [109]:
df3=pd.DataFrame(safety_reaction_id, columns=["safety_reaction_id"])
df3["reactions"]=reactions

# Importing the processed dataframe into postgresSQL using sqlalchemy

In [252]:
import psycopg2
from sqlalchemy import create_engine

def connect():
    try:
        conn = psycopg2.connect(user = "postgres", password = '12345', host = 'localhost', port = '5432',database = "Drug_Event")
        conn.set_isolation_level(0) # AUTOCOMMIT
        cur = conn.cursor()
        return cur
    except (Exception, psycopg2.Error) as dbError :
        print ("Error while connecting to PostgreSQL", dbError)
        
def execute_statement(cursor, sql_statement):
    try:
        cursor.execute(sql_statement)
        cursor.close()
        return True
    except:
        return False
    
def insert_into_table(engine, df, table_name):
    try:
        df.to_sql(table_name, engine)
        return True
    except Exception as e:
        print('Error: ', e)
        return False

In [253]:
cursor = connect()

In [254]:
cursor = connect()

if execute_statement(cursor, 'DROP Table if EXISTS Drug_Events'):
    print('Statement Executed Successfully')
else:
    print('Unable to Execute statement, check logs for more info')

Statement Executed Successfully

# Creating Drug Events table

In [66]:
engine = create_engine('postgresql://postgres:12345@localhost:5432/Drug_Event')
if insert_into_table(engine, df1, 'Drug_Events'):
    print('Insert Successfull')
else:
    print('Unable to insert Data in table')

Insert Successfull

# Creating a new table for drugs reported by patients

In [90]:
engine = create_engine('postgresql://postgres:12345@localhost:5432/Drug_Event')
if insert_into_table(engine, df2, 'Drug_list'):
    print('Insert Successfull')
else:
    print('Unable to insert Data in table')

Insert Successfull

# Creating a new table for reactions reported by each user(this involves the combined reactions of drug listed by the user )

In [258]:
engine = create_engine('postgresql://postgres:12345@localhost:5432/Drug_Event')
if insert_into_table(engine, df3, 'Drug_reactions'):
    print('Insert Successfull')
else:
    print('Unable to insert Data in table')

In [111]:
# df = pd.read_sql_query('SELECT * FROM "Drug_list"', engine)
# df

In [279]:
# df[df["drug"]=="IBUPROFEN"]

In [284]:
Drug_event=pd.read_csv("Drug_Event.csv")
Drug_recall=pd.read_csv("drugs_recalled.csv")

In [285]:
Drug_event_DataFrame=pd.DataFrame(Drug_event)
Drug_recall_DataFrame=pd.DataFrame(Drug_recall)

In [227]:
app_recal_num=Drug_recall_DataFrame["application_number"]

In [228]:
app_num=[]
for i in application_number:
    app_num.append((i[0]))

In [253]:


x2=pd.DataFrame(app_num, columns=["application_number"])
x2["id"]=x2.index
x2["safety_id"]=safety_id

y2=pd.DataFrame(app_recal_num, columns=["application_number"])
y2["id"]=y2.index

# app_num

# print((y2["application_number"]))
# print((x2["application_number"]))
x2
# app_recal_num=Drug_recall_DataFrame["application_number"]

       application_number      id safety_id
0               NDA021858       0  10003300
1              ANDA077349       1  10003301
2               NDA021446       2  10003302
3               NDA050795       3  10003304
4              ANDA200491       4  10003304
...                   ...     ...       ...
110703          NDA021098  110703  10003860
110704          NDA021676  110704  10003860
110705          NDA204736  110705  10003860
110706          NDA020505  110706  10003860
110707          NDA021098  110707  10003860

[110708 rows x 3 columns]

In [272]:
result=pd.merge(x2, y2,on="application_number",how="inner")
result.head(50)

   application_number  id_x safety_id  id_y
0             part343     7  10003304   121
1             part343     7  10003304   285
2             part343     7  10003304   449
3             part343     7  10003304   613
4             part343     7  10003304   777
5             part343     7  10003304   941
6             part343     7  10003304  1105
7             part343     7  10003304  1269
8             part343     7  10003304  1433
9             part343     7  10003304  1597
10            part343     7  10003304  1761
11            part343     7  10003304  1925
12            part343     7  10003304  2089
13            part343    32  10003310   121
14            part343    32  10003310   285
15            part343    32  10003310   449
16            part343    32  10003310   613
17            part343    32  10003310   777
18            part343    32  10003310   941
19            part343    32  10003310  1105
20            part343    32  10003310  1269
21            part343    32  10003310  1433
22            part343    32  10003310  1597
23            part343    32  10003310  1761
24            part343    32  10003310  1925
25            part343    32  10003310  2089
26            part343    75  10003321   121
27            part343    75  10003321   285
28            part343    75  10003321   449
29            part343    75  10003321   613
30            part343    75  10003321   777
31            part343    75  10003321   941
32            part343    75  10003321  1105
33            part343    75  10003321  1269
34            part343    75  10003321  1433
35            part343    75  10003321  1597
36            part343    75  10003321  1761
37            part343    75  10003321  1925
38            part343    75  10003321  2089
39            part343    80  10003321   121
40            part343    80  10003321   285
41            part343    80  10003321   449
42            part343    80  10003321   613
43            part343    80  10003321   777
44            part343    80  10003321   941
45            part343    80  10003321  1105
46            part343    80  10003321  1269
47            part343    80  10003321  1433
48            part343    80  10003321  1597
49            part343    80  10003321  1761

In [268]:
print(str(x2["application_number"][1]))
# print(y2["application_number"][1])
x2["application_number"][1]

ANDA077349

'ANDA077349'

# merging on generic

In [298]:
len(safety_brand_id)
len(brand_name)
Brand_name=[]
for i in brand_name:
    Brand_name.append(i[0])

In [305]:
brand_recall_df=pd.DataFrame(Drug_recall_DataFrame["brand_name"], columns=["brand_name"])
brand_recall_df["event_id"]=(Drug_recall_DataFrame["event_id"])

In [306]:
brand_event_df=pd.DataFrame(Brand_name, columns=["brand_name"])
brand_event_df["safety_brand_id"]=safety_brand_id

In [322]:
result=pd.merge(brand_event_df, brand_recall_df,on="brand_name",how="inner")
result

                brand_name safety_brand_id  event_id
0      DOXYCYCLINE HYCLATE        10003304     80791
1      DOXYCYCLINE HYCLATE        10003304     80791
2      DOXYCYCLINE HYCLATE        10003304     80791
3      DOXYCYCLINE HYCLATE        10003304     80791
4      DOXYCYCLINE HYCLATE        10003304     80791
...                    ...             ...       ...
79945         ARIPIPRAZOLE        10004103     86787
79946         ARIPIPRAZOLE        10004103     79036
79947         ARIPIPRAZOLE        10004103     86787
79948         ARIPIPRAZOLE        10004103     79036
79949         ARIPIPRAZOLE        10004103     86787

[79950 rows x 3 columns]

In [181]:
x2[x2["application_number"].str.contains("part341")]

       application_number      id
899               part341     899
930               part341     930
941               part341     941
1015              part341    1015
1016              part341    1016
...                   ...     ...
109927            part341  109927
110174            part341  110174
110262            part341  110262
110345            part341  110345
110465            part341  110465

[1050 rows x 2 columns]

In [171]:
[y2["application_number"].str.contains("NDA022433")]

[0       False
 1       False
 2       False
 3       False
 4       False
         ...
 2127    False
 2128    False
 2129      NaN
 2130    False
 2131     True
 Name: application_number, Length: 2132, dtype: object]